html {
	margin: 0px;
	height: 100%;
}

body {
	/*background-color: #29454B;
	background-image: linear-gradient(#333, #111);*/
	background-color: #666;
    background-image: linear-gradient(to right, #707070 1px, transparent 1px), linear-gradient(to bottom, #707070 1px, transparent 1px);
  	background-size:20px 20px;
	margin: 0px;
	width: 100%;
	min-height: 100%;
	/* Internet Explorer*/
	/*scrollbar-face-color: rgb(84, 106, 111);
	scrollbar-track-color: #29454B;*/
}

div#cterminal {
	/*box-shadow: 0 0 15px #719ECE;*/
	box-shadow: 0 0 15px #354a5f;
	border-right: 1px solid #555;
	border-left: 1px solid #555;
}

div#svgout {
	/*background-color: white;*/
}

div#menubar {
	background-color: #eee;
	z-index: 1000;
	box-shadow: 0 0 15px #354a5f;
}

div.mainmenu {
	margin: 0;
	height: 50px;
	background-color: #719ECE;
	font-family: "FontAwesome";
	font-size: 20pt;
	color: white;
	padding: 5px;
	padding-top: 10px;
	width: 70px;
	float: left;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}

div.titletext {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	color: #888;
	margin-left: 50px;
	font-weight: bold;
	margin-top: 4px;
}

div#cout {
	border-top: 1px solid #777;
	border-radius: 5px;
	box-shadow: 0 0 15px #445f7b;
	background: #333;
	font: 12px/16px Roboto Mono,monospace;
	color: #eee;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: auto;
}

div#cbrowse {
	border-left: 1px solid #777;
	/*box-shadow: 0 0 15px #719ECE;*/
	box-shadow: 0 0 15px #354a5f;
	background: #323239;
	/*font: 12px/16px Roboto Mono,monospace;*/
	font: 10pt Arial,sans-serif;
	color: #eee;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
}

div#cbrowse input {
	border: 0;
	border-radius: 12px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	width: calc(100% - 40px);
	margin: 20px;
	outline: none;
	background-color: white;
}

div#searchouter {
	background-color: #424249;
}

div#searchresults {
	margin-top: 10px;
	overflow-y: auto;
}

div.resultitem {
	margin-top: 2px;
	background-color: #555;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
}

span.identity {
	font-family: "FontAwesome";
	padding-left: 8px;
	padding-right: 8px;
}

.iconfont {
	font-family: "FontAwesome";
}

div.tool-buttons {
	position: absolute;
	top: 0;
	height: 50px;
	right: 250;
	/*border-right: 1px solid #ddd;*/
	padding-top: 8px;
	padding-right: 20px;
	box-sizing: border-box;
	background: #eee; /*linear-gradient(to right, #eee, #f3f3f3);*/
}

button.toolbutton {
	background: #f5f5f5; /*linear-gradient(#eee, #ddd);*/
	color: #3465a4;
	font-size: 12pt;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin-right: 5px;
	cursor: pointer;
}

button.toolbutton:hover {
	background: white;
}

/** {
	scrollbar-face-color: #BBBBBB;
	scrollbar-track-color: #EEEEEE;	
}

body::-webkit-scrollbar {
	background: #29454B;
	height: 14px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
}*/

input[type=checkbox], input[type=radio] {
	vertical-align: middle;
}

::placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }
::-webkit-input-placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }
::-moz-placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }


.noselect {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


div.cadence-obscurer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background-color: rgba(0,0,0,0.6);*/
	z-index: 12;
	font-family: Verdana,Arial,sans-serif;
	font-size: 8pt;
	background-color: #666;
    background-image: linear-gradient(to right, #707070 1px, transparent 1px), linear-gradient(to bottom, #707070 1px, transparent 1px);
  	background-size:20px 20px;
}

div.cadence-dialog {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 600px;
	background-color: #f5f5f5;
	/*padding: 20px;*/
	box-shadow: 0 0 15px #354a5f;
	border-radius: 10px;
	overflow: hidden;
}

div.cadence-dialog-title {
	background-color: #719ECE;
	height: 56px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 40px;
	font-size: 20px;
	font-weight: bold;
	font-family: Roboto,Arial,sans-serif;
	color: white;
	padding-top: 18px;
	-webkit-font-smoothing: antialiased;
	box-shadow: inset 0px -1px 1px rgba(0,0,0,.25),0px 1px 0px rgba(0,0,0,.15);
}

div.cadence-dialog-browse {
	width: 70%;
	height: 70%;
	background-color: white;
	box-sizing: border-box;
	/*padding: 40px;*/
}

div.cadence-dialog-plisting {
	box-sizing: border-box;
	padding: 40px;
	/*border: 1px solid #eee;*/
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: auto;
}

div.cadence-plisting-entry {
	width: 200px;
	height: 142px;
	margin: 5px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.cadence-plisting-entry img {
	border: 1px solid #eee;
}

div.cadence-plisting-title {
	font-weight: bold;
	font-family: Roboto,Arial,sans-serif;
	color: #424249;
	font-size: 14px;
	line-height: 16px;
	padding-left: 2px;
	margin-top: 8px;
}

div.cadence-plisting-subtitle {
	font-family: Roboto,Arial,sans-serif;
	color: #525259;
	font-size: 12px;
	line-height: 16px;
	padding-left: 2px;
}

span.cadence-dialog-title {
	font-weight: bold;
}


